
:root {
  --accent-color: #212121;
  --text-color: #000;
  --background-color: #fff;
  --additional-text-color: #757575;
  --background-color2: #2f303a;
  --button-background: #F5F4FA;
  --WebStudio-color: #2196F3;
}

body {
  font-family: Roboto;
  letter-spacing: 0.03em;
  list-style: none;
}

.container{
  outline: solid red;
  width:  1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

section{
  outline: solid blue;
}

/*header*/

.header{
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-title1{
  font-family: Raleway;
  color: var(--WebStudio-color);
font-size: 26px;
font-weight: 700;
line-height: 1.38;
}

.header-title2{
  font-family: Raleway;
  color: var(--text-color);
font-size: 26px;
font-weight: 700;
line-height: 1.38;
}

.header-link:hover{
  color: var(--WebStudio-color);
}

.header-link{
  color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
cursor: pointer;
}

.header-contact{
  color:  var(--additional-text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
cursor: pointer;
}

 .header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-navigation {
  margin-right: 344px;
  margin-left: auto;
} 

.header-contact:hover{
  color: var(--WebStudio-color);
}

/*about*/

.about{
  background-color:var(--background-color2) ;
  padding-top: 200px;
  padding-bottom: 200px;
}

.about-title {
  color:var( --background-color);
  max-width: 696px;
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; 
letter-spacing: 0.06em;
text-transform: uppercase;
margin: 0 auto 30px;
}       
  /* 30px це низ */

.about-button {
  color:var(--background-color);
  width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
background: var(--WebStudio-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*main*/

.main{
  padding-top: 94px;
  padding-bottom: 59px;
}

.main-list {
 display: flex;
 gap: 30px;
}

.main-title {
  color: var(--text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
 margin-bottom: 10px;
}

.main-text {
  color: var(--additional-text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
/* width: 270px; */
}

/* team */

.team {
  padding-top: 59px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.team-title1{
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
}

.team-logo{
  width: 370px;
height: 294px;
flex-shrink: 0;
}

/*hero*/

.hero {
 padding-top: 94px;
 padding-bottom: 94px;
 background-color: var(--button-background);
}

.hero-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.hero-article {
  background-color: var(--background-color);
  padding-bottom: 30px;
}

.hero-title1{
  color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
}

.img-hero{
  width: 270px;
height: 260px;
flex-shrink: 0;
margin-bottom: 30px;
}

.hero-title{
  color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
}

.hero-text{
  color: var(--additional-text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
margin-top: 10px;
}

/*footer*/

.footer{
  background-color: var(--background-color2);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title1{
  color: var(--WebStudio-color);
  font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
}

.footer-title2{
  color: var(--background-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
}

.footer-address{
  margin-top: 20px;
}

.footer-link{
  margin-top: 9px;
  color: var(--additional-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

/* .footer-item {
  color: var(--additional-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
} */

.footer-address {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
